@tailwind base;
@tailwind components;
@tailwind utilities;

/* 국민연금체체 */
@font-face {
  font-family: 'NPSfont';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontExtraBold.woff2')
    format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'NPSfont';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontRegular.woff2')
    format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'NPSfont';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2')
    format('woff2');
  font-weight: 500;
}

/* 귀염발랄체체 */
@font-face {
  font-family: 'CuteFont';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* adding utilities */
@layer utilities {
  .service-accent1 {
    font-family: NPSfont;
    font-weight: 700;
    font-size: 32px;
  }
  .service-accent2 {
    font-family: NPSfont;
    font-weight: 700;
    font-size: 26px;
  }
  .service-accent3 {
    font-family: NPSfont;
    font-weight: 700;
    font-size: 20px;
  }
  .service-bold1 {
    font-family: NPSfont;
    font-weight: 500;
    font-size: 25px;
  }
  .service-bold2 {
    font-family: NPSfont;
    font-weight: 500;
    font-size: 22px;
  }
  .service-bold3 {
    font-family: NPSfont;
    font-weight: 500;
    font-size: 18px;
  }
  .service-regular1 {
    font-family: NPSfont;
    font-weight: 300;
    font-size: 22px;
  }
  .service-regular2 {
    font-family: NPSfont;
    font-weight: 300;
    font-size: 18px;
  }
  .service-regular3 {
    font-family: NPSfont;
    font-weight: 300;
    font-size: 16px;
  }
  .story-basic1 {
    font-family: CuteFont;
    font-size: 28px;
  }
  .story-basic2 {
    font-family: CuteFont;
    font-size: 24px;
  }
  .story-basic3 {
    font-family: CuteFont;
    font-size: 20px;
  }

  /* Other CSS */
  .fancy-underline {
    @apply bg-gradient-to-r from-[#2193b0] to-[#6dd5ed] bg-no-repeat bg-[length:100%_0.4em] bg-[0_90%];
  }

}
