@keyframes shake{
    0%{transform:translateX(-10px);}
    25%{transform:translateX(10px);}
    50%{transform:translateX(-10px);}
    75%{transform:translateX(10px);}
    100%{transform:translateX(-10px);}
}
@keyframes redBlink{
    0%{border-color:white;}
    50%{border-color:red;}
    100%{border-color:white;}
}
.time-shake{
    animation:shake 0.5s ease-in-out infinite;
}

.red-blink{
    animation: shake 1s ease-in-out infinite, redBlink 0.5s ease-in-out infinite;
}