# api keys
OPENAI_API_KEY="YOUR API KEY"
NOVITA_API_KEY="YOUR API KEY"
NAVER_OCR_SECRET_KEY = "NAVER_OCR_SECRET_KEY"
NAVER_OCR_INVOKE_URL = "NAVER_OCR_INVOKE_URL"


LANGCHAIN_TRACING_V2= true/false
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="YOUR API KEY"
LANGCHAIN_PROJECT="YOUR PROJECT NAME"

# project setting
FAST_API_HOST="FAST_API_HOST" # 서버가 열리는 호스트 주소
FAST_API_PORT=FAST_API_PORT # 서버가 열리는 포트 번호
API_BASE_URL="/api/ai" # API의 기본 URL
MAX_AUDIO_LENGTH=10 # 최대 오디오 길이

# server
SPRING_SERVER_URL="SPRING_SERVER_URL" # 스프링 서버 주소
AI_IMG_2_IMG_SERVER="AI_IMG_2_IMG_SERVER" # 이미지 변환 서버 주소
PUBLIC_HOST_URL="PUBLIC_HOST_URL" # 서버의 외부 접속 주소